* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 15px;
}

section {
    display: block;
    position: relative;
    padding: 15px;

}

div {
    border: 3px solid black;
    background-color: grey;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;

}

#name1 {
    background-color: rgb(238, 160, 173);
    border: 2px solid black;
    padding: 5px;
    width: 90px;
    margin: -2px -2px 0;
    font-size: 20px;
    float: right;
    text-align: center;
}

#name2 {
    background-color: rgb(180, 7, 7);
    color: white;
    border: 2px solid black;
    padding: 5px;
    width: 90px;
    margin: -2px -2px 0;
    font-size: 20px;
    float: right;
    text-align: center;
}

#name3 {
    background-color: rgb(244, 244, 97);
    border: 2px solid black;
    padding: 5px;
    width: 90px;
    margin: -2px -2px 0;
    font-size: 20px;
    float: right;
    text-align: center;
}

.content {
    padding: 5px;
    margin: 4px;
    height: 150px;
    overflow: auto;
}

p {
    position: relative;
    clear: right;
}

@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .col-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .col-md-12 {
        clear: left;
    }

}

@media(max-width:767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }
}